/* ThemeColor One */
.ereaders-color,
.ereaders-colorhover:hover,
.navbar-nav > li.active > a,
.navbar-nav > li:hover > a,
.navbar-nav .sub-menu > li:hover > a,
.navbar-nav .sub-menu li .sub-menu li:hover a,
.ereaders-banner-text h2 span,
.ereaders-banner-text-two h2,
.ereaders-counter ul li i,
.ereaders-work-learn h2 span,
.ereaders-service-provide h3 span,
.ereaders-blog-grid-text span,
.ereaders-blog-option li a:hover,
blockquote:before,
.ereaders-blog-grid ul li:hover .ereaders-readmore-btn,
.ereaders-author-text h2 span,
.ereaders-copyright p a,
.ereaders-breadcrumb ul li.active,
.ereaders-prev-post:hover h2 > a,
.ereaders-next-post:hover h2 > a,
.ereaders-related-blog ul li:hover .ereaders-related-blog-text h5 a,
.comment-reply-link:hover,
.widget_popular_post ul li:hover h6 a,
.widget_recent_comments span a,
.ereaders-blog-large ul li:hover .ereaders-blog-heading h2 a,
.widget-author-info-text span small,
.ereaders-book-grid figure figcaption a,
.star-rating-box:before,
.ereaders-detail-btn,
.ereaders-shop-grid figure figcaption a,
.widget_calendar thead > tr > th,
.ereaders-event-list-text span i,
.ereaders-event-list figure figcaption a,
.ereaders-shop-tabs .nav-tabs > li.active > a,
.ereaders-shop-tabs .nav-tabs > li.active > a:hover,
.ereaders-shop-tabs .nav-tabs > li.active > a:focus,
.ereaders-shop-grid ul li:hover .ereaders-shop-grid-text h2 a,
.ereaders-shop-filter .nav-tabs > li.active > a,
.ereaders-shop-filter .nav-tabs > li.active > a:hover,
.ereaders-shop-filter .nav-tabs > li.active > a:focus,
.widget_popular_product ul li:hover h6 a,
.ereaders-shop-list figure figcaption a,
.ereaders-priceplan > ul > li.active .ereaders-simple-btn,
.ereaders-priceplan > ul > li.active .ereaders-priceplan-wrap h5,
.ereaders-faq-accordion .panel-title > a,
.ereaders-faq-accordion .panel-title > .collapsed:before,
.ereaders-contact-form h2 span,
.eraders-search-wrap h3,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-text h5,
.text-holder:hover h6,
.ereaders-contact-info-wrap span,
.ereaders-blog-grid ul li:hover .ereaders-blog-grid-text h2 a,
.widget_recent_comments ul li:hover h6 a,
.ereaders-service-list ul li:hover h5 a,
.ereaders-testimonial-text h4:hover a,
.widget-author-info-text h5:hover a,
.ereaders-admin-text h5:hover a,
.ereaders-blog-option li:hover,
.ereaders-book-detail ul li:hover h6,
.ereaders-service-grid ul li:hover .ereaders-service-grid-text h5 a {
  color: #00aff0;
}
.ereaders-bgcolor,
.ereaders-bgcolorhover:hover,
.navbar-nav > li.active > a:before,
.navbar-nav > li:hover > a:before,
.ereaders-fancy-btn:hover,
.ereaders-testimonial-slide .slick-arrow,
.ereaders-footer-newslatter form input[type="submit"],
.ereaders-social-tag a:hover,
.submit,
.ereaders-pagination > ul > li > a:hover,
.ereaders-pagination > ul > li > span.current,
.ereaders-section-heading:before,
.widget_search form label input[type="submit"],
.ereaders-widget-title:before,
.widget_cetagories ul li:hover a,
.widget_tags a:hover,
.ereaders-about-education ul li > span,
.ereaders-about-education ul li > span:before,
.ereaders-about-education ul li > span:after,
.ereaders-book-grid figure figcaption a:hover,
.ereaders-detail-btn:hover,
.ereaders-event-gallery figure a:before,
.widget_calendar tbody > tr > td.active,
.widget_calendar caption,
.ereaders-event-list figure figcaption a:hover,
.ereaders-shop-thumb span small,
.ereaders-shop-grid figure figcaption a:hover,
.ereaders-shop-tabs .nav-tabs > li.active > a:before,
.ereaders-shop-grid figure span,
.ui-slider .ui-slider-range,
.ereaders-shop-list figure span,
.ereaders-shop-list figure figcaption a:hover,
.ereaders-priceplan > ul > li.active .ereaders-priceplan-wrap,
.ereaders-faq-tabs .nav-tabs > li.active > a,
.ereaders-faq-tabs .nav-tabs > li.active > a:hover,
.ereaders-faq-tabs .nav-tabs > li.active > a:focus,
.ereaders-contact-info-wrap span.second:before,
.ereaders-contact-form ul li input[type="submit"],
.eraders-search-wrap form label input[type="submit"],
.eraders-search-btn,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-heading,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-btn a,
.ereaders-contact-info-wrap span.second:after,
.ereaders-contact-info-wrap span small,
.ereaders-contact-info-wrap span small:before,
.ereaders-contact-info-wrap span small:after,
.ereaders-contact-info-wrap span.second i:after,
.ereaders-contact-info ul li:hover span,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-heading:after,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-heading:before,
.ereaders-pricing-featured > ul > li.active .ereaders-simple-btn {
  background-color: #00aff0;
}
.navbar-nav > li.active > a:before,
.navbar-nav > li:hover > a:before,
.ereaders-fancy-title h2:before,
.ereaders-fancy-title h2:after,
.ereaders-social-tag a:hover,
.widget_cetagories ul li:hover a,
.widget_tags a:hover,
.ereaders-book-grid figure figcaption a,
.ereaders-detail-btn,
.ereaders-event-list figure figcaption a,
.ereaders-images-list-layer.slick-slide.slick-current.slick-active span img,
#slider-range span,
.ereaders-shop-grid figure figcaption a,
.ereaders-shop-list figure figcaption a,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-text,
.ereaders-contact-info ul li:hover span,
.ereaders-faq-tabs .nav-tabs > li.active > a,
.ereaders-faq-tabs .nav-tabs > li.active > a:hover,
.ereaders-faq-tabs .nav-tabs > li.active > a:focus,
.ereaders-about-thumb img {
  border-color: #00aff0;
}
.ereaders-shop-thumb span small:before,
.ereaders-shop-grid figure span:before,
.ereaders-shop-list figure span:before {
  border-left-color: #00aff0;
}
/* {
	border-right-color: #00aff0;
}
{
	border-top-color: #00aff0;
}
 {
	border-bottom-color: #00aff0;
} */
