<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profil-user</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 ">
                <img src="login2.jpg" class="mt-3" style="width: 100px;" alt=""> 
            </div>
            <div class="col-lg-11 mt-2 pt-3">
                <h2 class="fw-bold">JOHANES GERYATY PUTRI</h2>
                <h5>10 RPL 1</h5>
            </div>  
        </div>
    </div>
    <div class="container">
      <label for="exampleInputPassword1" class="form-label mt-3">Nama Lengkap</label>
      <div class="bg-secondary p-2 text-dark bg-opacity-50" style="border-radius:20px; text-align: center;">Johanes Geryaty Putri</div>
      <label for="exampleInputPassword1" class="form-label mt-1">Kelas</label>
      <div class="bg-secondary p-2 text-dark bg-opacity-50" style="border-radius:20px ; text-align: center;">11 RPL 1</div> 
      <label for="exampleInputPassword1" class="form-label mt-1">Tempat,  Tanggal Lahir</label>
      <div class="bg-secondary p-2 text-dark bg-opacity-50" style="border-radius:20px ; text-align: center;">Tangerang, 30 Februari 2006</div> 
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.min.js"></script>
  </body>
</html>
